<body>
<br><br><br><br><br>
<div align="center">
<h3>Eventos a los que te uniste disponibles:</h3></div>
<!-- Listar Eventos -->
<div>
    <br>
     <button class="btn-success1" (click)="generarInformePDF()">Generar Informe PDF</button>
    <tbody>
        <div align="center" class="filas">
            <div *ngFor="let reg2 of datos_evento" class="evento">
                <img src="assets/event.png" alt="Imagen del evento" class="evento-image">
                <br>
                <h4>{{reg2.nombre}}</h4>
                <p>{{reg2.descripcion}}</p>
                <button  class="btn-success" type="button" [name]="reg2.ideventos_creados" (click) = "datos_evento_pagina(reg2.ideventos_creados)">Ver</button>
            </div>
        </div>
    </tbody>     
</div>
</body>
<!-- Listar Eventos -->
